 
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } 
  nav{
  display: flex; 
  align-items: center;
   justify-content:space-between;
   margin: 0  200px;
}
.btn-primary{
    background-color:#FD6E0A ;
    color:white ;
    font-weight:bold ;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 3px;
}
.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    color:#474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.banner-gritics{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
  font-weight: bold;
  font-size: 85px; 
}
.banner-description{
    color: #474747;
}
.banner-profile{
    width: 580px;
}
.banner-containt{
    max-width: 580px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
    
}
.about-item{
    width: 1140px;
    height:550px ;
   border: 1px solid gold;
    margin: 50px auto;
    background-color:#FFF8F3 ;
}
.item-box{
  
   width:827px ;
   height:244px ;
   background-color: white;
   /* border: 1px solid red; */
   margin:150px 150px;
   text-align: center;
  
} 
 .about-adress {
    display: flex;
    justify-content: space-between; */
    
 }
 .h-item{
    color: black;
    font-weight:bold;
    font-size:85 ;
}
.text-item{
    text-align: center;

}
.three-item{
    width: 1140px;
    height: 595px;
    /* border: 1px solid green; */
    margin-top: 30px;
    margin: 0 auto;
}
.one{
    width: 270px;
    height: 363px;
   padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}


.two{
    width: 270px;
    height: 363px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.three{
    width: 270px;
    height: 363px;
    /* border: 1px solid #750080; */
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.four{
    width: 270px;
    height: 363px;
    /* border: 1px solid #750080; */
    padding:30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.all-item{
    width: 1118px;
    height: 405px;
    /* border: 1px solid blue; */
    /* margin: 0 auto; */
    margin-top: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.all-design{
    width: 1140px;
    height: 1019px;
    /* border: 1px solid green; */
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.text{
    text-align: center;
    
}
.join{
    display: flex;
    gap: 20px;
}
.join h2{
    color: #474747;
    font-weight: bold;
    font-size: 35px;
}
.join h3{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
}
.join p{
    color: #757575;
}
.last-container{
    width: 1600px;
    height: 780px;
    border: 1px solid green;
    margin: 0 auto;
    margin-top: 30px;
}
.all-container{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.first-box{
    width: 50;
    
}
 input[type="text"] ,textarea{
   height: 64px;
   width: 100%;
   border-radius: 5px;
   background-color: white;
   display: block; 
   padding: 10px 20px;
   margin-bottom: 24px;
   border: none;
}

